// styles
@import './reset.scss';
@import './variables.scss';
@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap');


html {
  scroll-behavior: smooth;
}

#navbar {
    position: fixed;
    // the top important for the offset
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 10;


  .nav-list {
    background-color: black;
    @include mQ(450px) {
      font-weight: 600;
      font-size: 13px;
      padding: 10px 0 0 0;
    }

    margin: 0px;
    padding: 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-item {
    list-style: none;
    margin-right: 8%;
    @include mQ(650px, 450px) {
      margin-right: 4%;
  }
    @include mQ(450px) {
      margin-right: 1%;
    }
    a {
        text-decoration: none;
        color: white;
        font-family: 'Outfit', sans-serif;
        font-size: 20px;
        @include mQ(650px, 450px) {
          font-size: 17px;
      }
     

        @include mQ(450px) {
          font-size: 13px;
          margin: 0 11px;
        }
        @include mQ(369px, 0px) {
          font-size: 12px;
      }
        font-weight: 600;
        transition: .3s ease-out;
        
        &:hover {
            color: $darkred;
        }
        
    }

    #disabled {
      pointer-events: none;
    }

    &:first-child {
        margin-right: auto;
        margin-left: 7%;
        @include mQ(450px) {
          margin-left: 3%;
        }
        @include mQ(650px, 450px) {
          margin-left: 3%;
      }
    }
    img {
        width: 137px;
        @include mQ(450px) {
          width: 99px;
        }
        @include mQ(369px, 0px) {
          width: 65px;
      }
    }
  }  

  
  .dropdown {
    position: relative;
    display: inline-block;
    &:hover .dropdown-content {
        display: block;
      }
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    min-width: 160px;
    z-index: 2;
    padding-top: 23px;
    text-align: center;
    @include mQ(650px) {
      min-width: 90px;
    }
    @include mQ(390px) {
      min-width: 80px;
    }
    
   a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    

    @include mQ(450px) {
      padding: 8px 8px;
      font-size: 11px;
    }

   &:hover {
    background: rgba(0, 0, 0, .8);
    color: white;
   }
   &:last-child {
    border-bottom: none;
   }
  }
}
}


// body

  .container:first-child{
    @include characters('../images/hero.png', #61D8FF, "../images/fin-jake.png", 413px, 340px, row);
    .img-container {
      @include floatingx(6s, 0s, 12px, 5deg);
    }
    .opacity {
      @include opacity(1s, 1.5s)
    }

  

  .cloud1 {
    @include clouds('../images/hero-cloud.png', 380px, 142px, 53px, 50px);
    @include floating(6s, 0s, 6px)
  }
  .cloud2 {
    @include clouds('../images/hero-cloud.png', 288px, 120px, 90px, 371px);
    @include floating(7s, 0s, 6px)
  }
   } 

  .container:nth-child(2){
    @include characters('#', linear-gradient(180deg, #66CAFF 0%, #92D4F7 100%), "../images/finn.png", (351px * .9), (460px * .9), row);
    @include face(#fff, '../images/finn-face.jpg', 80%);
    .clouds {
      @include clouds('../images/bigasscloud.png', 0px, 142px, 53px, 50px);
      @include wind(20s, 0s, 10%)
    }
    .clouds-medium {
      @include clouds('../images/secondsmallasscloud.png', 480px, 342px, 53px, 50px);
      @include wind(10s, 0s, 10%)
    }
    .active {
      @include translatex(1.5s, .3s);
      }    
.opacity {
      @include opacity(1s, 1.5s)
    }
    
  }

  .container:nth-child(3){
    @include characters('../images/treehouse.png', linear-gradient(180deg, #FF7E87 0%, #FFFF9B 100%), "../images/jake.png", 316px, 370px, row-reverse);
    @include face(#fc0, '../images/jake-face.jpg', 80%);
    .active {
      @include translateminus(1.5s, .3s);
      }    
.opacity {
      @include opacity(1s, 1.5s)
    }
  }
  
  .container:nth-child(4){
    @include characters('../images/spaceland.png', url('../images/space.png'), "../images/beemo.png", 268px, 281px, row);
    background-size: cover;
    background-repeat: no-repeat;
    @include face(#63BDA4, '../images/beemo-face.jpg', 90%);
    .active {
      @include height(1.5s, .3s);
    }
    .opacity {
      @include opacity(1s, 1.5s)
    }
    @include mQ(600px, 0px) {
      #cover {
        width: 100%;
        background: url("../images/spacelandResponsive.png");
   }   
   }
  }
  .container:nth-child(5){
    @include characters('', linear-gradient(177.62deg, #6754c7 2%, #0E0261 84.8%), "../images/marceline.png", 308px, 395px, row-reverse);
    @include face(#050a1e, '../images/marceline-face.jpg', 90%);
    .active {
      @include unopacity(1.5s, .3s);
    }
    .img-container {
      @include floating(6s, 0s, 12px);
      }    
.opacity {
      @include opacity(1s, 1.5s)
    }

  }
  
  .container:nth-child(6){
    @include characters('', linear-gradient(109.63deg, #751E58 22.66%, #0006AC 98.91%), "../images/bubblegum.png", 152px, 458px, row);
    @include face(#050a1e, '../images/queenbubblegum-face.png', 100%);
    .active {
      @include stretch(1.5s, .3s);
      }    
.opacity {
      @include opacity(1s, 1.5s)
    }
  }
  
  .container:nth-child(7){
    @include characters('', linear-gradient(178.19deg, #6D000A 3.43%, #333333 98.5%), "../images/flame-princess.png", 300px, 423px, row-reverse);
    @include face(#ff4208, '../images/flame-face.jpg', 100%);
    .active {
      @include scale(1.5s, .3s);
    }
    .img-container {
      @include floating(6s, 0s, 12px);
      }    
.opacity {
      @include opacity(1s, 1.5s)
    }
  }
  
  .container:nth-child(8){
    @include characters('', linear-gradient(107.45deg, #1E1EA6 4.38%, #000055 87.9%), "../images/ice-king.png", 300px, 423px, row);
    @include face(#050a1e, '../images/ice-king-face.jpg', 100%);
    .active {
      @include translateminus(1.5s, .3s);
    }
    .opacity {
      @include opacity(1s, 1.5s)
    }
    .img-container {
      @include floating(6s, 0s, 12px);
      }    
.opacity {
      @include opacity(1s, 1.5s)
    }
  }
  
  .container:nth-child(9){
    @include characters('../images/lemonkingdom.png',  linear-gradient(180deg, #3846AD 9.69%, #885987 23.3%, #F3BA85 45.37%, #FFFEA1 69.32%), "../images/lemongrab.png", 188px, 528px, row-reverse);
    @include face(#050a1e, '../images/lemongrab-face.png', 100%);
    .active {
      @include translatex(1.5s, .3s);
      }    
.opacity {
      @include opacity(1s, 1.5s)
    }
  }
  
  

@include mQ(450px)  {
  #lemongrab {
    #cover {
      height: 50%;
    }
  }
}




  // Footer
  .footer {
    background-color: black;

  .one {
    background: #1A1A1A;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;     
    p {
      width: 60%;
      font-family: 'Rubik', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 128.69%;
      letter-spacing: 0.045em;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      input:focus, textarea:focus, select:focus{
        outline: none;
    }
    
      p {
        text-align: left;
        width: 100%;
        font-weight: 500;
        line-height: 0;
        margin-top: 5%;
      }

      #name, #comment {
        background-color: #393939;
        color: #fff;
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       font-size: 17px;
       line-height: 128.69%;
       /* or 18px */
       width: 100%;
       letter-spacing: 0.045em;
       padding: 12px 10px 12px 10px;
       box-sizing: border-box;
       border-radius: 4px;
       border: none;
       margin: 5px;
      }

      button {
        width: 100%;
        font-family: 'Rubik', sans-serif;
        padding: 13px 0px;
        border-radius: 4px;
        background: #009FDC;
        color: white;
        font-weight: 600;
        transition: .3s ease-out;
        &:hover {
          background: lighten(#009FDC, 5%);;
        }
        input:focus, textarea:focus, select:focus{
          outline: none;
      }
      }
    }
  }
  .two {
    padding: 20px 0;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    

    .item1 {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;

      a {
        display: block;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        font-style: bold;
        font-weight: 500;
        font-size: 16px;
        line-height: 228.69%;
        color: rgb(171, 171, 171);
        pointer-events: none;
      }

    }

    .item2 {
      img {
        width: 150px;
      }
    }
  }


  }

  @include mQ(800px) {

    .footer {  
    .one {      
      p {
        width: 78%;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0.045em;
        text-align: left;
        
      }
  
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 78%;
  
        input:focus, textarea:focus, select:focus{
          outline: none;
      }
      
        p {
          text-align: left;
          width: 100%;
          font-weight: 500;
          line-height: 0;
          margin-top: 5%;
        }
  
        #name, #comment {
         font-weight: 400;
         font-size: 15px;
         padding: 10px 10px 10px 10px;
         margin: 4px;
        }
      }
    }
    .two {
      padding: 20px 0 0 0;
      width: 80%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  
      .item1 {
        width: auto;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        text-align: center;
  
        a {
          font-size: 16px;
          color: #fff;
        }
  
      }
  
      .item2 {
        img {
          width: 120px;
        }
      }
    }
  
  
    }
  
  
  }